h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

table {
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table th {
  border: 2px solid black;
  background-color: lightsalmon;
}

.even {
    background-color: darkgray;
}

th {
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}

td {
    border: 2px solid black;
    font-family: sans-serif;
}


